<h1>Add new ingredient & dose to your <%= @cocktail.name %></h1>

<br>
<%= link_to cocktail_path(@cocktail) do %>
<i class="fas fa-undo-alt"></i> Cocktail list
<% end %>
<br>
<br>
<br>


<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.association :ingredient %>
<%= f.input :description %>
<br>
<br>
<%= f.submit "Add a dose", class: "btn btn-primary" %>
<% end %>



